.app {
  text-align: center;
}

.app__header {
  position: fixed;
  top: 0;
  text-align: left;
  z-index: 1;
  display: flex;
  padding: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__header > img {
  margin-right: 10px;
  height: 70px;
}

.app__form {
  padding: 7px 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 75.6%;
  margin-left: 9.7%;
}

.app__formNext {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.app__input {
  background-color: white !important;
  padding: 10px;
  flex: 1;
  border-radius: 7px;
}

.app__iconButton {
  flex: 0;
  margin-left: 3px !important;
}

.app__sendButton {
  font-size: 45px !important;
}

/*.chat__MessagesOuter {
  flex-shrink: 10 !important;
  height: 100% !important;
  overflow: auto !important;
}


.chat__MessagesOuter,.chat__messages {
  transform: scale(1, -1) !important; 
}*/

.chat__messages {
  margin-top:100px;
  margin-bottom: 150px;
}

@media only screen and (max-width: 429px) {
  /* For mobile phones: */
  .app__form {
    width: 93%;
    margin-left: 0%;
  }
  .app__header {
    width: 95%;
  }
}

